<div class="col-md-12">
  <app-card cardTitle="Teachers list" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Image</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Teacher ID</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Department</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <ng-container  *ngIf="teachers?.length >0">
              <tr *ngFor="let teacher of teachers" class="t-list">
                <td><img src="{{fetchPictures(teacher?.profile?.image_path)}}" alt="img" height="35" width="35"></td>
                <td>{{teacher?.profile?.first_name}}</td>
                <td>{{teacher?.profile?.last_name}}</td>
                <td>{{teacher?.profile?.teacher_id}}</td>
                <td>{{teacher?.profile?.email}}</td>
                <td>{{teacher?.profile?.gender == 1 ? 'Male' : 'Female'}}</td>
                <td>{{teacher?.department?.name}}</td>
                <td>Rated</td>
              </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="col-12 text-center" *ngIf="teachers?.length <1">
        <p>No data available</p>
      </div>
    </div>
  </app-card>
</div>
