<div class="col-md-12">
  <app-card cardTitle="Teachers list" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Image</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Student ID</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Department</th>
        </tr>
        </thead>
        <tbody>
            <ng-container  *ngIf="students?.length >0">
              <tr *ngFor="let student of students" class="t-list">
                <td><img src="{{fetchPictures(student?.profile?.image_path)}}" alt="img" height="35" width="35"></td>
                <td>{{student?.profile?.first_name}}</td>
                <td>{{student?.profile?.last_name}}</td>
                <td>{{student?.profile?.matric_no}}</td>
                <td>{{student?.profile?.email}}</td>
                <td>{{student?.profile?.gender == 1 ? 'Male' : 'Female'}}</td>
                <td>{{student?.department?.name}}</td>
              </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="col-12 text-center" *ngIf="students?.length <1">
        <p>No data available</p>
      </div>
    </div>
  </app-card>
</div>
