<div *ngIf="(departments |async)?.length > 0">
  <form method="POST" [formGroup]="addCourseForm" (ngSubmit)="onSubmitAddCourse()" enctype="multipart/form-data">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputAddress2">Title</label>
        <input type="text" class="form-control" id="inputAddress2" formControlName="name" [ngClass]="{'error': (validator().name.invalid && validator_toast.isSubmited)}" placeholder="course title">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputState">Teacher</label>
        <select id="inputState" class="form-control" formControlName="teacher_id" [ngClass]="{'error': (validator().teacher_id.invalid && validator_toast.isSubmited)}">
          <option value="null" selected>No teacher</option>
          <option *ngFor="let teacher of teachers |async" value="{{teacher?.profile?.id}}">{{teacher?.profile?.first_name |titlecase}} {{teacher?.profile?.first_name |titlecase}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Department</label>
        <select id="inputState" class="form-control" formControlName="department_id" [ngClass]="{'error': (validator().department_id.invalid && validator_toast.isSubmited)}">
          <option *ngFor="let department of departments |async" value="{{department?.id}}">{{department?.name |titlecase}}</option>
        </select>
      </div>
    </div>
    <p *ngIf="message">{{message}}</p>
    <button class="btn btn-primary event-btn m-2" type="submit" *ngIf="!validator_toast.success">
      <span *ngIf="this.submitLoader" class="spinner-grow spinner-grow-sm" role="status"></span>
      <span *ngIf="this.submitLoader" class="load-text"> Adding...</span>
      <span *ngIf="!this.submitLoader" class="btn-text">Add new course</span>
    </button>
  </form>
  <p *ngIf="validator_toast.message" class="success">{{validator_toast.message}}</p>
  <div *ngIf="validator_toast.success">
    <button (click)="resetFormField()" class="btn btn-primary mr">Reset and add new course</button>
    <button (click)="viewCourseList(true)" class="btn btn-primary">View course's list</button>
  </div>
</div>
<div *ngIf="(departments |async)?.length ==0">
  <p>No department <button (click)="viewCourseList(false)" class="btn btn-primary">Add department</button>
  </p>
</div>

