<div class="col-md-12">
  <app-card cardTitle="Course list" blockClass="table-border-style">
    <div class="table-responsive">
      <p class="text-center" style="color:red;" *ngIf="validator_toast.message">{{validator_toast.message}}</p>
      <p class="text-center" style="color:green;" *ngIf="suc_message">{{suc_message}}</p>
      <table class="table table-hover">
        <thead>
        <tr>
          <!-- <th><input type="checkbox" name="cxbox" (click)="checkUncheckAll(!isCheckedAll)"></th> -->
          <th>Course code</th>
          <th>Title</th>
          <th>Department</th>
          <th>Teacher</th>
          <th>Action</th>
          <!-- <th *ngIf="params">Actions</th> -->
        </tr>
        </thead>
        <tbody>
            <ng-container  *ngIf="courses?.length >0">
              <tr *ngFor="let course of courses; let i = index;" class="t-list">
                <!-- <td style="width: 5px !important">
                  <input type="checkbox" *ngIf="params && course?.info?.is_rated == 0" name="cxbox" (click)="selectedToUnEnroll(course.course)">
                  <input type="checkbox" (click)="selectedToEnroll(course.course)" name="cxbox" *ngIf="!params">
                  </td> -->
                <td>{{course?.course?.course_code}}</td>
                <td>{{course?.course?.name}}</td>
                <td>{{course?.department?.name}}</td>
                <td>{{course?.teacher?.length == 0 ? 'No teacher' : (course?.teacher?.first_name + ' ' +  course?.teacher?.last_name)}}</td>
                <td>
                  <!-- <span type="button" class="btn btn-outline-success sp-bt"><i class="feather icon-check-circle"></i>Rate</span> -->
                  <button type="button" *ngIf="course?.teacher?.first_name" data-toggle="modal" class="btn btn-secondary" (click)="deleteModalPopoversLabel.show(); editItem(course, i)">Rate</button>
                  <button type="button" *ngIf="course?.teacher?.length < 1" data-toggle="modal" disabled class="btn btn-secondary">rating inactive</button>
                </td>
                <!-- <td>
                  <span type="button" class="btn btn-outline-info sp-bt" *ngIf="params && course?.info?.is_rated == 0">
                    <i class="feather icon-info"></i>Not rated
                  </span>
                  <span type="button" class="btn btn-outline-success sp-bt" *ngIf="params && course?.info?.is_rated == 1">
                    <i class="feather icon-check-circle"></i>Rated
                  </span>
                </td>
                <td>
                  <div class="btn-group btn-group-sm" role="group" aria-label="button groups sm" *ngIf="params">
                    <button type="button" data-toggle="modal" class="btn btn-secondary" (click)="deleteModalPopoversLabel.show(); editItem(course, i)" *ngIf="user?.user?.role == 1">Delete</button>
                    <button type="button" class="btn btn-secondary" *ngIf="params && course?.info?.is_rated == 1"
                    [ngClass]="{'disabled': course?.teacher?.length == 0}"
                    (click)="reviewAssessment(course?.teacher)">Review performance</button>

                    <button type="button" class="btn btn-secondary"
                    *ngIf="params && course?.info?.is_rated == 0"
                    [ngClass]="{'disabled': (course?.teacher?.length == 0 || course?.department?.rating_activation == 0)}"
                     (click)="rateTeacher(course)">
                     {{course?.teacher?.length == 0 ? 'No teacher to rate' : (course?.department?.rating_activation == 0 ? 'Rating deactivated' : 'Rate')}}</button>
                  </div>
                </td> -->
              </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </app-card>
  <app-ui-modal #deleteModalPopoversLabel>
    <div class="app-modal-header">
      <h5 class="modal-title">Rate teacher</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="deleteModalPopoversLabel.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <h3>You are proceeding to rate {{selectedcourse?.teacher?.length == 0 ? 'No teacher' : (selectedcourse?.teacher?.first_name + ' ' +  selectedcourse?.teacher?.last_name)}}</h3>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="deleteModalPopoversLabel.hide()">Close</button>
      <button class="btn btn-primary event-btn m-2" type="button"(click)="rateTeacher(selectedcourse)" *ngIf="!validator_toast.success">
        <span *ngIf="this.submitLoader" class="spinner-grow spinner-grow-sm" role="status"></span>
        <span class="btn-text">Proceed to rate</span>
      </button>
    </div>
  </app-ui-modal>
</div>
