.disabled{
  cursor: not-allowed;
  pointer-events: none;
  background: rgb(51, 51, 51);
}
.success{
  text-align: center;
  color: green;
}
.sp-bt{
  border: 0;
  padding-left: 0;
}
.sp-bt:hover{
  background: none !important;
  color: black !important;
}
